* {
  user-select: none;
  font-family: 'NanumGothic', cursive;
}

body {
  background-color: #f6f8fa;
  color: #25292e;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  text-align: center;
  margin-top: 42px;
  margin-bottom: -15px;
}

span.value {
  display: none;
}

.start-game {
  margin-top: 15px;
}

.all-input-parent {
  text-align: center;
  margin-top: 42px;
  margin-bottom: 42px;
}

.input-parent {
  width: 270px;
  margin: 0 40px;
  display: inline-block;
  vertical-align: top;
}

.rangeparent {
  width: 100%;
}

.centertext {
  text-align: center;
}

.agenda {
  margin-top: 42px;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 18px;
}

.game-over-animation {
  -webkit-transition: all 1s;
  -webkit-filter: blur(4.5px) brightness(80%) grayscale(100%);
  transition: all 1s;
  filter: blur(4.5px) brightness(80%) grayscale(100%);
}

.game-over-container {
  position: absolute;
  width: 400px;
  height: 175px;
  background-color: #f3bbbb;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  box-shadow: 11px 11px 20px 0px #25292e;
  display: none;
}

.appear {
  animation: fadein 1s;
}

.game-over-container-child {
  margin-top: 57px;
  font-size: 42px;
}

.creature {
  position: absolute;
  z-index: 1;
  -webkit-filter: drop-shadow(2px 2px 2px #25292e);
  filter: drop-shadow(2px 2px 2px #25292e);
}

.dragged {
  -webkit-filter: drop-shadow(7px 7px 7px #25292e);
  filter: drop-shadow(7px 7px 7px #25292e);
  transform: scale(1.15) !important;
}

.board-container {
  margin: 0 auto;
}

.creature-container {
  background-color: #eee;
  float: left;
  box-shadow: inset 0px 0px 8px 0px #25292e;
}

.hide-border {
  position: relative;
  background-color: #faf8ef;
  z-index: 2;
}

.left-right-border {
  width: 20px;
  float: left;
}

.top-bottom-border {
  width: 100%;
  height: 20px;
}

.extreme {
  width: 100%;
  box-shadow: inset 0px 0px 8px 0px #000000;
}

.hospital {
  background-color: #c2ecb3;
}

.hospital-image {
  margin: 0 5%;
}

.river {
  background-color: #b75e5e;
}

.river-single {
  margin: 0 5%;
}

.center-vertical {
  vertical-align: middle;
  height: 100%;
}

.center-horizontal {
  text-align: center;
}
